.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #f9f1e4;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-logo img {
  height: 60px;
  width: auto;
  object-fit: contain;
}

.left-section {
  display: flex;
  align-items: center;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;

  font-size: 32px;        
  line-height: 1;         
  padding: 8px 12px;

  color: black;
  z-index: 101;
}


.menu-button:focus {
  outline: none;
}


.menu-button:hover {
  opacity: 0.7;
}



.navbar-links {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  background-color: white;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  max-height: 0;
  display: flex;
  transition: max-height 0.3s ease;
}

.navbar-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  border-top: 1px solid #eee;
}

.navbar-links.open {
  max-height: 500px; 
}